

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-color: #ebebeb;
	padding-bottom: 0;
}

h1.title{
	color: #009900;
}

.carousel-inner .item img{
	width: 100%;
}

ul.no-bullet{
	list-style: none;
	padding-left: 0px;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

.jumbotron{
	margin-bottom: 0;
}

.ml-row{
	padding-top: 100px;
	padding-bottom: 100px;
}

.ml-row-footer{
	background-color: #b2ffb2;
	padding: 50px;
}

.ml-row-footer footer{
	text-align: center;
	color: #009900;
	font-weight: bold;
}

.navbar-inverse{
	background-color: #b2ffb2;
	background-image: none;
	border-bottom-color: #fff;
}

.well-green{
	background-color: #b2ffb2;
	background-image: none;	
}

.navbar-inverse .navbar-nav>li>a{
	color: #009900;
	text-shadow: none;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	color: #008000;
}

.navbar-inverse .navbar-brand{
	color: #009900;
	text-shadow: none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	color: #008000;
	text-shadow: none;
}

.jumbotron h1{
	color: #fff;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small{
	color: #ddd;
}