

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.carousel-inner .item img{
	width: 100%;
}

ul.no-bullet{
	list-style: none;
	padding-left: 0px;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

.jumbotron{
	margin-bottom: 0;
}

.row-contact{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #d9edf7;
}

.row-about{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #dff0d8;
}

.row-scout{
	padding-top: 30px;
	padding-bottom: 30px;
}






