

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.carousel-inner .item img{
	width: 100%;
}

ul.no-bullet{
	list-style: none;
	padding-left: 0px;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}











